{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}Profile{% endblock %}</h1>
{% endblock %}
<hr>

{% block content %}
    <head>
        <style>
            .profile-pic {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #555;
            }
        </style>
    </head>
    <body>
        <h2>{{ user['username'] }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + 'default.png') }}" class="profile-pic">
        <div>
            <span>Full Name: {{ user['fullname'] }}</span><br>
            <span>About Me: {{ user['about'] }}</span><br>
            <span>Email: {{ user['email'] }}</span><br>
        </div>
        <article class="post">
            <header>
                <h2>My Blogs({{ blogs|length }})</h2>
                <div class="action" style="text-align: right;">
                    {% if g.user['id']==user['id'] %}
                        <a class="action" href="{{url_for('blog.create')}}">+ Create a new blog</a>
                    {% endif %}
                </div>
            </header>
            <hr>
            {% for post in blogs %}
                <article class="post">
                    <header>
                        <h3>{{ post['title'] }}<br>
                            <span class="about">by {{ user['username'] }}</span>
                        </h3>
                        <div style="text-align: right;">
                            {% if g.user['id'] == post['author_id'] %}
                                <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                            {% endif %}
                        </div>
                    </header>
                    <p class="body">{{ post['body'][:50] }}...<a class="action" href="{{ url_for('blog.post', id=post['id']) }}">View full post</a></p>
                </div>
                <hr>
            {% else %}
                <p>No blogs yet.</p>
            {% endfor %}
        </article>
        <div>
            <h2>Connect with Me:</h2>
            <span>Instagram: {{ user['instagram_id'] }}</span><br>
            <span>LinkedIn: {{ user['linkedin_id'] }}</span>
        </div>
    </body>
    <hr>
    <a class="action" href="{{ url_for('blog.index') }}">Go back to home page</a>
{% endblock %}