{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Account{% endblock %}</h1>
{% endblock %}
<hr>
{% block content %}
    <form method="post">
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname" required>
        <label for="about">Tell something about yourself!</label>
        <input type="text" name="about" id="about">
        <label for="email">email</label>
        <input type="text" name="email" id="email">
        <label for="instagram_id">instagram_id</label>
        <input type="text" name="instagram_id" id="instagram_id">
        <label for="linkedin_id">linkedin_id</label>
        <input type="text" name="linkedin_id" id="linkedin_id">
        <input type="Submit" value="Save">
    </form>
{% endblock %}